/**
  * Wealth Man
  * 
  * Location:	
  *	client/views/dashboard/style.css
  *
  * Description:
  * Stylesheet for the dashboard template.
  *
  * Author:
  *	Delena Malan
  *
  **/

.dashboardWrapper input, .dashboardWrapper textarea, .dashboardWrapper select {
    border: 0;
    outline: 0;
    background: 0;
    resize: none;
}

.dashboardWrapper .fa-close {
    color: #901E1E;
    text-shadow: 1px 1px 2px #031c33;
}
    

.dashboardWrapper .fa-close:hover {
    text-decoration: none;
    color: #630404;
    text-shadow: 1px 1px 2px #035003;
}

.dashboardWrapper .model-sec-table {
    float: right;
    width: 100%;
    text-align: left;
}

.dashboardWrapper .model-row:hover {
    background: #f0f0f0;
}

.dashboardWrapper h3 {
    font-size: 1.6em;
    margin: 0.6em 0 0 0;
    font-weight: bold;
}

#securities-div, #models-div {
    margin-left: 1em;
    padding-bottom: 2em;
}

.dashboardWrapper textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dashboardWrapper {
    margin-bottom: 3em;
}

.dashboardWrapper #securities-table {
    max-height: 30em;
}

.dashboardWrapper #models-table {
    max-height: 50em;
}

#models-div, #models-table {
    width: 100%;
}

.model-secs-div {
    max-height: 0;
    overflow: hidden;
    transition: max-height .8s;
    background-color: rgba(53, 146, 83, 0.1);
    border-radius: 0.2em;
}

.model-secs-div.active-row {
    max-height: 100%;
    padding: 1em;
}

.dashboardWrapper select {
    width: 100%;
}

.dashboardWrapper #add-model{
    margin-top: 2em;
}




/**
  * EOF
  **/
