/**
  * WealthMan
  * 
  * Location:	
  *	client/views/dashboard/style.css
  *
  * Description:
  *
  * Author:
  *	Delena Malan
  *
  **/

/*
@media (max-width: 1600px) and (orientation:landscape) {

    #securities-div {
        width: 50%;
        max-width: 50%;
        float: left;
    }

    #models-div {
        width: 50%;
        max-width: 50%;
        float: right;
        clear: both;
    }

}
*/

.dashboardWrapper input, .dashboardWrapper textarea, .dashboardWrapper select {
    border: 0;
    outline: 0;
    background: 0;
    resize: none;
}

.dashboardWrapper .fa-close {
    color: #901E1E;
    text-shadow: 1px 1px 2px #031c33;
}
    

.dashboardWrapper .fa-close:hover {
    text-decoration: none;
    color: #630404;
    text-shadow: 1px 1px 2px #035003;
}

.dashboardWrapper .model-sec-table {
    float: right;
    width: 100%;
}

.dashboardWrapper .model-row:hover {
    background: #f0f0f0;
}

.dashboardWrapper h3 {
    font-size: 1.6em;
    margin: 0.6em 0 0 0;
    font-weight: bold;
}

#securities-div, #models-div {
    margin-left: 1em;
}

.dashboardWrapper textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dashboardWrapper {
    margin-bottom: 3em;
}

.dashboardWrapper #securities-table {
    max-height: 30em;
}

.dashboardWrapper #models-table {
    max-height: 50em;
}

#models-div, #models-table {
    width: 100%;
}

.model-secs-div {
    max-height: 0;
    overflow: hidden;
    transition: max-height .8s;
}

.model-secs-div.active-row {
    max-height: 100%;
}

select {
    width: 100%;
}


/**
  * EOF
  **/
