<!-- 
    WealthMan

    Location:	
	client/views/dashboard/template.html

    Description:
    The dashboard template (where the user can view and edit models and
    securities.
 
    Author:
	Delena Malan
-->


<template name="dashboardTemplate">
    <div class="dashboardWrapper">
        <h2>Dashboard</h2>
        <div id="securities-div">
            <h3>Securities</h3>
            <table id="securities-table" class="uk-table uk-table-hover uk-table-striped">
                <thead><tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Delete</th>
                </tr></thead>
                <tbody>
                    {{ #each securities }}
                    <tr>
                        <td>
                            <input class="sec-name security-input" type="text" value="{{ name }}"/> 
                        </td>
                        <td>
                            <textarea class="sec-desc security-input" cols="40">{{ desc }}</textarea>
                        </td>
                        <td>
                            <input class="sec-price security-input" type="number" min="0" step="0.01"
                            value="{{ price }}"/>
                        </td>
                        <td>
                            <a class="delete-security"><i class="fa
                            fa-close fa-lg"></i></a>
                        </td>
                    </tr>
                    {{ /each }}
                </tbody>
            </table>
            <button id="add-security" class="uk-button" type="button">Add a
            Security</button>
        </div>
        <div id="models-div">
            <h3>Models</h3>
            <table id="models-table">
                <thead><tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Delete</th>
                    <th>Show Securities</th>
                </tr></thead>
                <tbody>
                    {{ #each models }}
                    <tr class="model-row">
                        <td>
                            <input class="name" type="text" value="{{ name }}" /> 
                        </td>
                        <td>
                            <textarea class="desc" cols="40">{{ desc }}</textarea>
                        </td>
                        <td>
                            <a class="delete-model"><i class="fa
                            fa-close fa-lg"></i></a>
                        </td>
                        <td>
                            <a class=""><i class="fa
                            fa-chevron-right fa-lg sec-chevron {{ _id }}-chevron"></i></a>
                        </td>
                    </tr>
                    <tr><td colspan="4">
                        <div class="model-secs-div {{ _id }}-secs">
                        <table class="model-sec-table">
                            <thead><tr>
                                <th>Security name</th>
                                <th>Percentage</th>
                                <th>Delete</th>
                            </tr></thead>
                            <tbody>
                            {{ #each modelSecurities _id }}
                            <tr>
                                <td>
                                <select class="sec-select">
                                    {{ #each unusedCurrentSecurities _model }}
                                    <option value="{{ _id }}" selected="{{
                                    isSelected _id ../_security }}">
                                        {{ name }}
                                    </option>
                                    {{ /each }}
                                </select>
                                </td>
                                <td> 
                                    <input class="perc perc-{{_security}}" type="number" min="0" step="0.01"
                                    value="{{ perc }}"/>
                                </td>
                                <td>
                                    <a class="delete-sec-model" 
                                    ><i class="fa
                                    fa-close fa-lg"></i></a>
                                </td>
                            </tr>
                            {{ else }}
                            No securites added yet.
                            {{ /each }}
                            </tbody>
                        </table>
                        {{ #if unusedSecurities _id }}
                            <button id="add-sec-model" class="uk-button"
                            type="button">Add a
                            Security to the Model</button>
                        {{ else }}
                            <button class="uk-button" type="button" disabled>No
                            More Unused Securites to Add</button>
                        {{ /if }}
                        </div>
                    </td></tr>
                    {{ /each }}
                </tbody>
            </table>
            <button id="add-model" class="uk-button" type="button">Add a
            Model</button>
        </div>
    </div>
</template>


<!--
    EOF
-->
