/**
  *	Wealth Man
  * 
  * Location:	
  *	client/views/register/style.css
  *
  * Description:
  * Style sheet for the register template.
  *
  * Author:
  * Delena Malan
  **/


.registerWrapper {
    text-align: center;
}
.registerWrapper h1:first-child {
    padding-top: 0;
}

.registerWrapper .generalForm {
    text-align: left;
}


/**
  * EOF
  **/
