<!-- 
	Wealth Man

    Location:	
	client/views/register/template.html

    Description:
 
    Author:
    Delena Malan
-->


<template name="registerTemplate">
    <div class="registerWrapper">
	<h1>Register</h1>
	<form class="generalForm uk-form">
	    <span>
		<i class="fa fa-lg fa-fw fa-envelope-o"></i> Email address
	    </span>
	    <span>
		<input id="register-email" type="text" class="uk-form-large" placeholder="Email/Username" />
	    </span>
	    <span>
		<i class="fa fa-lg fa-key fa-fw"></i> New Password
	    </span>
	    <span>
		<input id="register-pass" type="password" class="uk-form-large" placeholder="Password" />
	    </span>
	    <button class="uk-button"><i class="fa fa-check"></i>Register</button>
	</form>
    </div>
</template>


<!--
    EOF
-->
