<!-- 
    CS 334 - Final Project
	Restaurant Perfect

    Location:	
	client/views/about/template.html

    Description:
 
    Authors:
	Rudolf Byker	    - 17973340@sun.ac.za
	Chris Malan	    - 16187288@sun.ac.za
	Deléna Malan	    - 17524695@sun.ac.za
	Andrew Polly	    - 17252369@sun.ac.za
	Robert Sandell	    - 16726723@sun.ac.za
	David Schwartz	    - 17303184@sun.ac.za
-->


<template name="aboutTemplate">
    <div class="aboutWrapper">
	<h2>About Us</h2>
	<form class="generalForm uk-form">
	    <span>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut volutpat ligula. Etiam quis viverra magna. Vivamus rhoncus nunc quis nisi rutrum iaculis. Maecenas rutrum libero at quam hendrerit, eu condimentum lorem vestibulum. Donec fringilla eros ac volutpat mollis. Donec congue, elit eget blandit facilisis, risus velit convallis massa, bibendum sollicitudin ex felis eu mauris. Curabitur imperdiet id elit ac volutpat. Aenean non metus dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a bibendum mauris, in pharetra felis. Nullam vitae congue nisi, a consectetur nisi.
	    </span>
	    <span>
		Praesent hendrerit urna vitae nisi mattis molestie. Suspendisse lobortis venenatis lectus, suscipit semper purus semper nec. Fusce molestie augue arcu, id ullamcorper magna imperdiet vel. In ac turpis lorem. Cras tempor lacinia interdum. Cras euismod congue felis, et fringilla nibh finibus sed. Nullam congue lectus quis turpis dignissim, congue pharetra nibh iaculis. Donec ac aliquet neque. Vivamus et facilisis ligula, quis luctus elit. Sed consectetur cursus eros, non sollicitudin dui fermentum eget.
	    </span>
	</form>
    </div>
</template>


<!--
    EOF
-->
